.druxt-node-preview iframe {
  background-color: white;
  border: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 500;
}

/* Olivero z-index fix */
html[data-once="node-preview"] .layout-main-wrapper {
  z-index: unset;
}
